<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assemblerium - Administration</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <header>
        <h1 class="titre">Administration</h1>
        <nav>
            <ul class="menu">
                <li><a href="/" class="home">Accueil</a></li>
            </ul>
        </nav>
        <!-- A rajouter plus tard-->
        <!--<img class="pdp">-->
    </header>
    {% block content %}
    {% endblock %}
    <footer>

    </footer>
</body>
</html>