{% extends "front/base.html" %}
{% block content %}

<section>
    <table>
        <thead>
            <th>Pseudo</th>
            <th>Mot de passe</th>
            <th>Photo de profil</th>
            <th>Rôle</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td><img src="{{user.pdp}}" alt="Photo de profil" width="50"></td>
                            <td>
                <form action="{{ url_for('update_role', user_id=user.id) }}" method="POST">
                    <select name="role" onchange="this.form.submit()">
                        <option value="user" {% if user.role = 'user' %}selected{% endif %}>Utilisateur</option>
                        <option value="admin" {% if user.role = 'admin' %}selected{% endif %}>Administrateur</option>
                    </select>
                </form>
            </td>
                <td href="{{ url_for('view_user', user_id=user.id) }}">Voir</td>
                <td href="{{ url_for('delete_user', user_id=user.id) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}