<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assemblerium</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/articles.css">
    <link rel="stylesheet" href="/static/editeur.css">
    <link rel="stylesheet" href="/static/user.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/register.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <h1 class="titre">Assemblerium</h1>
        <nav>
            <ul class="menu">
                <li><a href="/" class="home">Accueil</a></li>
                {% if session.get('role') == 'admin' %}
                    <li><a href="/admin">Administration</a></li>
                {% endif %}
                {% if session.get('user_id') %}
                    <li><a href="/post/new_post">Ecrire un article</a></li>
                    <li><a href="/logout">Se déconnecter</a></li>
                    <li><a href="/user">Mon profil</a></li>
                {% else %}
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">Créer un compte</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- A rajouter plus tard-->
        <!--<img class="pdp">-->
    </header>
    {% if erreur %}
        <p class="error">{{ erreur }}</p>
    {% endif %}
    {% block content %}
    {% endblock %}
    <footer>

    </footer>
</body>
</html>