{% extends "front/base.html" %}
{% block content %}
<main>
    <main>
        <h2 class="subtitle">Se connecter</h2>
        <form method="POST" action="/login" class="login_form">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Se connecter</button>
        </form>
</main>
</main>
{% endblock %}