{% extends 'front/base.html' %}

{% block content %}

<main class="m-10 p-10 border-2 rounded-lg">
    <h1 class="flex justify-center text-2xl">Créer un article</h1>

    <form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">

        <div>
            <label>Titre</label>
            <input type="text" name="title" required placeholder="Titre de l'article">
        </div>

        <div class="editeur" name="editeur">
            <label>Contenu</label>
            <button type="button" class="code_add" onclick="add_code_place()">Ajouter du code</button>
            <button type="button" class="normal_text_area" onclick="add_text_area()">Zone de texte normale</button>
            <textarea name="content" required placeholder="Contenu de l'article">
                <code class="code_place" name="code_place">

                </code>
            </textarea>
        </div>

        <div>
            <label>Image</label>
            <input type="file" name="image" accept="image/*">
        </div>

        <div>
            <label>Choisis tes tags :</label>
            <div>
                {% for tag in tags %}
                    <input type="checkbox" id="{{ tag }}" name="tags" value="{{ tag }}">
                    <label for="{{ tag }}">{{ tag }}</label>
                {% endfor %}
            </div>
        </div>

        <!-- BOUTON -->
        <button type="submit">Publier</button>

    </form>

</main>

{% endblock %}