{% extends "front/base.html" %}
{% block content %}

<!-- à rajouter après -->
<!--{% if erreur %} 
    <p>Erreur : {{erreur}}</p>
{% endif %}-->
<div>
    <form method="POST" action="{{url_for('register')}}">
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="password">Confirmez le mot de passe :</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">S'enregistrer</button>
    </form>
</div>

<div id="loading-overlay" class="hidden"></div>
{% endblock %}