{% extends "front/base.html" %}

{% block content %}

<main class="profile-page">

    <section class="profile-card">

        <h1>Mon profil</h1>

        <div class="profile-info">

            <p>
                <strong>Nom d'utilisateur :</strong>
                {{ user.username }}
            </p>

            <p>
                <strong>Mot de passe :</strong>
                {{ user.password }}
            </p>

            <p>
                <strong>Rôle :</strong>
                {{ user.role }}
            </p>

        </div>

    </section>

</main>

{% endblock %}