* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #3B82F6;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    height: 20%;
    width: 100%;
}
main {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background: #0F172A;
}

footer {
    background: #3B82F6;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.titre {
    font-size: 2.5em;
    font-weight: bold;
    justify-content: center;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav .menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

li {
    width: 10px;
    height: 10px;
    padding: 2%;
    text-align: center;
    background: #0F172A;
    color: #ffffff;
}

li:hover {
    background: #ffffff;;
    color: #0F172A;
}