article {
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.article_title {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

article p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
}